<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="/assets/perfil.jpg" id="fotodeperfil" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Yuliana de la Vega</p>
        <p id="texto">Porgramadora en breve</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mí</h1>
        <p>Lorem ipsum dolor sit amet, consectetur 
            adipisicing elit. Aut recusandae voluptates magni. 
            Expedita, dolorum eum. At, unde assumenda iusto, voluptatem, eveniet dolor tenetur 
            repudiandae nisi officia saepe cumque sunt nemo?</p>          
    </span>
</div>
</div>


