<div class="row">
    <h1>Experiencia</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor 
                sit amet consectetur adipisicing elit.
                 Distinctio minus, dolore officia corrupti minima, 
                consectetur velit animi magni libero accusamus 
                perspiciatis error ullam assumenda sapiente 
                ipsum repellat sint, voluptatum aspernatur.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor 
                sit amet consectetur adipisicing elit.
                 Distinctio minus, dolore officia corrupti minima, 
                consectetur velit animi magni libero accusamus 
                perspiciatis error ullam assumenda sapiente 
                ipsum repellat sint, voluptatum aspernatur.
            </p>
        </ul>
    </div>
</div>
