<div class="row">
  <h1>Hard & Soft Skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="55"
    [radius]="60"
    [showUnits]="false"
    [title]="'HTML'"
    [titleColor]="'#8B1DA4'"
    [showSubtitle]="false"
    [outerStrokeWidth]="6"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#8B1DA4'"
    [innerStrokeColor]="'#8B1DA4'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="65"
    [radius]="60"
    [showUnits]="false"
    [title]="'CSS'"
    [titleColor]="'#8B1DA4'"
    [showSubtitle]="false"
    [outerStrokeWidth]="6"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#8B1DA4'"
    [innerStrokeColor]="'#8B1DA4'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="35"
    [radius]="60"
    [showUnits]="false"
    [title]="'JAVASCRIPT'"
    [titleFontSize]="'15px'"
    [titleColor]="'#8B1DA4'"
    [showSubtitle]="false"
    [outerStrokeWidth]="6"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#8B1DA4'"
    [innerStrokeColor]="'#8B1DA4'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="45"
    [radius]="60"
    [showUnits]="false"
    [title]="'GITHUB'"
    [titleColor]="'#8B1DA4'"
    [showSubtitle]="false"
    [outerStrokeWidth]="6"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#8B1DA4'"
    [innerStrokeColor]="'#8B1DA4'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="55"
    [radius]="60"
    [showUnits]="false"
    [title]="'INGLÉS'"
    [titleColor]="'#8B1DA4'"
    [showSubtitle]="false"
    [outerStrokeWidth]="6"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#8B1DA4'"
    [innerStrokeColor]="'#8B1DA4'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="95"
    [radius]="60"
    [showUnits]="false"
    [title]="'TRABAJO GRUPAL'"
    [titleFontSize]="'12px'"
    [titleColor]="'#8B1DA4'"
    [showSubtitle]="false"#8B1DA4
    [outerStrokeWidth]="6"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#8B1DA4'"
    [innerStrokeColor]="'#8B1DA4'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
  </div>
</div>
